

img.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;

}

h1, h2 {
  text-align: center;
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  background-color: #DEF5FA;
  border-style: solid;
  border-radius: 40px;
  border-color: #92C2F6;
}
